<div class="card" th:fragment="product">

    <a href="#">
    <img th:src="@{${'/images/'+product.fileName}}"
         class="card-img-top" alt="" />
    </a>

    <div class="card-body">
      <a th:href="'/?name='+${product.category.name}" th:text="${product.category.name}"></a>
      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0" th:text="${product.name}"></h5>
        <h5 class="text-dark mb-0" th:text="${product.price} + ' €'"></h5>
      </div>
    </div>

</div>