<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/common :: head}"></div>

<body>

<div th:insert="~{fragments/common :: nav}"></div>

<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="my-4">Modifier le profil</h1>

                <form th:action="@{'/edit/' + ${user.idUser}}" th:object="${user}" method="post" enctype="multipart/form-data"
                      class="card" style="border-radius: 15px;">
                    <div class="card-body">

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0">Nom d'utilisateur</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="text" class="form-control form-control-lg" id="username" placeholder="Pseudo" th:field="*{username}">
                                <p th:errors="*{username}" class="text-danger"
                                   th:if="${#fields.hasErrors('username')}">
                                </p>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0">Adresse mail</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="email" class="form-control" id="email" placeholder="Entrez votre email" th:field="*{email}">
                                <p th:errors="*{email}" class="text-danger"
                                   th:if="${#fields.hasErrors('email')}">
                                </p>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0">Photo de profil</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="file" class="form-control" name="file" id="file" accept="image/png, image/jpeg">

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="px-5 py-4">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<!--<div class="container">
    <div class="row">
        <div class="container justify-content-center mt-5">
            <form th:action="@{/subscribe}" th:object="${user}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" id="firstName" placeholder="Prénom" th:field="*{firstName}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="lastName" placeholder="Nom" th:field="*{lastName}">
                </div>
                <div class="form-group">
                    <small id="usernameHelp" class="form-text text-muted">C'est avec ce pseudo que les utilisateurs vous verront !</small>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Pseudo" th:field="*{username}">
                    <p th:errors="*{username}" class="text-danger"
                       th:if="${#fields.hasErrors('username')}">
                    </p>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Choisissez un mot de passe" th:field="*{password}">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Entrez votre email" th:field="*{email}">
                    <p th:errors="*{email}" class="text-danger"
                       th:if="${#fields.hasErrors('email')}">
                    </p>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" name="file" id="file" accept="image/png, image/jpeg">
                </div>
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
</div>-->

</body>