<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/common :: head}"></div>

<body>

<div th:insert="~{fragments/common :: nav}"></div>
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <div class="mb-4 lead">Une erreur est survenue.</div>
        <a href="/" class="btn btn-link">Retour à l'accueil</a>
      </div>
    </div>
  </div>
</div>


</body>