<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/common :: head}"></div>

<body>

    <div th:insert="~{fragments/common :: nav}"></div>

    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 col-lg-4 mb-4" th:each = "product : ${productList}"}>
                    <div th:insert="~{fragments/product :: product}"></div>
                </div>
            </div>
        </div>
    </section>

</body>