<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/common :: head}"></div>

<body>

    <div th:insert="~{fragments/common :: nav}"></div>


    <div class="container mt-5">
        <div class="row">
            <div th:each = "product : ${productList}"}>
                <div class="card mx-2 my-4" style="width: 18rem;">
                    <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}"></h5>
                        <p class="card-text" th:text="${product.description}"></p>
                        <p class="card-text" th:text="${product.category.name}"></p>
                        <a href="#" class="btn btn-primary">Voir les détails</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

<style>
    .card-img-top {
        width: auto;
        height: 300px;
        object-fit: cover;
    }
</style>