<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/common :: head}"></div>

<body>

<div th:insert="~{fragments/common :: nav}"></div>

<section>
  <div class="container py-5">
    <nav class="navbar navbar-expand-lg row">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a th:if="${!categoryList.isEmpty()}" th:text="'Trier par catégorie'" class="nav-link dropdown-toggle" href="#" id="navbarDropdown0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu">
              <a class="dropdown-item btn" th:each="category : ${categoryList}" th:href="'products?name='+${category.getName()}" th:text="${category.getName()}"></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-12 col-lg-4 mb-4" th:each = "product : ${productList}"}>
        <div th:insert="~{fragments/product :: product}"></div>
      </div>
    </div>
  </div>
</section>

</body>